In [1]:
import pandas as pd

In [9]:
df = pd.read_csv("C:/Users/luvu1/Documents/dss15/crawling_project/datas/final2019(rev4).csv", encoding='utf-8', index_col=[0])
df

,Artist,Genre,Lyrics,Title,Year
0,금호동,성인가요,하루의 일을 끝내고 돌아가는거리엔 사람의 물결하늘엔 별이 하나 둘 반짝이면가로등 하...,내일또 만납시다,1964
1,최숙자,성인가요,조기를 담뿍잡아기폭을 올리고온다던 그배는어이하여 아니오나수평선 바라보며그이름 부르면...,눈물의 연평도,1964
2,이미자,성인가요,<1절 임이라 부르리까 당신이라고 부르리까 사랑을 하면서도 사랑을 참고사는 마음으로...,님이라 부르리까,1964
3,이미자,성인가요,헤일 수 없이 수많은 밤을내 가슴 도려내는 아픔에 겨워얼마나 울었던가 동백아가씨그리...,동백아가씨,1964
4,현미,성인가요,그 날 밤 그 자리에둘이서 만났을 때똑같은 그 순간에똑같은 마음이달빛에 젖은 채밤새...,떠날때는 말없이,1964
...,...,...,...,...,...
4253,아이유,록/메탈,‘뭐해?‘라는 두 글자에‘네가 보고 싶어’ 나의 속마음을 담아 우이모티콘 하나하나 ...,Blueming,2019
4254,MC몽,랩/힙합,우선 캐릭터는 분명해야 해요 X 같은 XX철부지같이 굴면Fail 해요 Next 바로...,"인기 (Feat. 송가인, 챈슬러)",2019
4255,ITZY (있지),댄스,Hey hey hey yass whoo Beep beep Hey hey hey he...,ICY,2019
4256,Lil tachi,랩/힙합,멋이 다 흘러흘러서 넘쳐멀어 버렸어배로 막 벌어멋이 다 흘러멋이 다 흘러배로 막 벌...,눈 (Prod. 기리보이),2019
4257,홍진영,성인가요,오늘 밤에 아무도 모르게너랑 둘이서 둘이서 사랑을 할거야오늘 밤에 아무도 모르게뚜뚜...,오늘 밤에,2019

In [18]:
# select year 
# 1980 ~ 
df = df[df["Year"] >= 1980].reset_index(drop = True)

In [22]:
# make year_range

## elements 
bins = round((np.max(df["Year"]) - np.min(df["Year"]))/4)
labels = []
for i in (range(np.min(df["Year"]) , np.max(df["Year"]) +1,4)):
    labels.append(str(i) + '-' + str(i+3))


# Divided by  four-year cycles
## ex) 1980-1983 , ... ,2016-2019
df['year_range'] = pd.cut(x=df['Year'], bins= bins ,labels=labels)

In [23]:
# Count by genre

# 1. make count columns
df["count"] = 1

# pivoting!!
df_pivot = pd.pivot_table(data = df , values = "count", index = "year_range", columns = "Genre",aggfunc = np.sum)

# fillna --> 0
df_pivot.fillna(0, inplace = True)

In [26]:
# normalize

df_normal = round(df_pivot.div(df_pivot.sum(axis = 1), axis=0),3)
df_normal

Genre,R&B/Soul,국내영화/국내드라마,그외,댄스,랩/힙합,록/메탈,발라드,성인가요,인디음악,재즈,포크/블루스
year_range,,,,,,,,,,,
1980-1983,0.000,0.000,0.000,0.022,0.000,0.141,0.178,0.504,0.000,0.000,0.156
1984-1987,0.000,0.005,0.000,0.058,0.000,0.129,0.353,0.313,0.000,0.000,0.142
1988-1991,0.000,0.010,0.000,0.063,0.000,0.106,0.570,0.116,0.000,0.000,0.136
1992-1995,0.005,0.046,0.000,0.213,0.013,0.117,0.510,0.033,0.008,0.005,0.051
1996-1999,0.008,0.008,0.003,0.301,0.058,0.137,0.435,0.020,0.008,0.000,0.023
2000-2003,0.095,0.015,0.000,0.265,0.072,0.132,0.388,0.000,0.018,0.000,0.015
2004-2007,0.171,0.035,0.003,0.134,0.093,0.101,0.461,0.000,0.003,0.000,0.000
2008-2011,0.030,0.018,0.000,0.418,0.138,0.042,0.345,0.002,0.008,0.000,0.000
2012-2015,0.068,0.075,0.008,0.308,0.200,0.060,0.255,0.000,0.008,0.000,0.020
2016-2019,0.118,0.098,0.000,0.232,0.152,0.020,0.272,0.002,0.098,0.000,0.008