In [1]:
import pandas as pd

In [9]:
df = pd.read_csv("C:/Users/luvu1/Documents/dss15/crawling_project/datas/final2019(rev4).csv", encoding='utf-8', index_col=[0])
df

,Artist,Genre,Lyrics,Title,Year
0,금호동,성인가요,하루의 일을 끝내고 돌아가는거리엔 사람의 물결하늘엔 별이 하나 둘 반짝이면가로등 하...,내일또 만납시다,1964
1,최숙자,성인가요,조기를 담뿍잡아기폭을 올리고온다던 그배는어이하여 아니오나수평선 바라보며그이름 부르면...,눈물의 연평도,1964
2,이미자,성인가요,<1절 임이라 부르리까 당신이라고 부르리까 사랑을 하면서도 사랑을 참고사는 마음으로...,님이라 부르리까,1964
3,이미자,성인가요,헤일 수 없이 수많은 밤을내 가슴 도려내는 아픔에 겨워얼마나 울었던가 동백아가씨그리...,동백아가씨,1964
4,현미,성인가요,그 날 밤 그 자리에둘이서 만났을 때똑같은 그 순간에똑같은 마음이달빛에 젖은 채밤새...,떠날때는 말없이,1964
...,...,...,...,...,...
4253,아이유,록/메탈,‘뭐해?‘라는 두 글자에‘네가 보고 싶어’ 나의 속마음을 담아 우이모티콘 하나하나 ...,Blueming,2019
4254,MC몽,랩/힙합,우선 캐릭터는 분명해야 해요 X 같은 XX철부지같이 굴면Fail 해요 Next 바로...,"인기 (Feat. 송가인, 챈슬러)",2019
4255,ITZY (있지),댄스,Hey hey hey yass whoo Beep beep Hey hey hey he...,ICY,2019
4256,Lil tachi,랩/힙합,멋이 다 흘러흘러서 넘쳐멀어 버렸어배로 막 벌어멋이 다 흘러멋이 다 흘러배로 막 벌...,눈 (Prod. 기리보이),2019
4257,홍진영,성인가요,오늘 밤에 아무도 모르게너랑 둘이서 둘이서 사랑을 할거야오늘 밤에 아무도 모르게뚜뚜...,오늘 밤에,2019

In [10]:
df = df[df.Year != 1964]
df = df[df.Year != 1965]
df = df[df.Year != 1966]
df = df[df.Year != 1967]
df = df[df.Year != 1968]
df = df[df.Year != 1969]
df = df[df.Year != 1970]

In [11]:
df = df[df.Year != 1971]
df = df[df.Year != 1972]
df = df[df.Year != 1973]
df = df[df.Year != 1974]
df = df[df.Year != 1975]
df = df[df.Year != 1976]
df = df[df.Year != 1977]
df = df[df.Year != 1978]
df = df[df.Year != 1979]

In [12]:
df.reset_index(drop=True, inplace=True)
df

,Artist,Genre,Lyrics,Title,Year
0,윤시내,발라드,갈길 멀다 쉬어가는 곳구름처럼 머물다가는 곳산굽이 돌아 밤이오면하늘가에 그리움 일던...,고목,1980
1,희자매,성인가요,속으론 나를 좋아하면서 겉으론 새침한 그 사람 안보는 척 나를 지나치면서 어쩌다 마...,그 사람 바보,1980
2,계은숙,성인가요,내 마음 외로울땐 눈을 감아요자꾸만 떠오르는 그대 생각에가슴에 느껴지는 사랑에 숨결...,기다리는 여심,1980
3,윤항기,성인가요,나는 행복합니다나는 행복합니다나는 행복합니다정말 정말 행복합니다기다리던 오늘 그날이...,나는 행복합니다,1980
4,김학래,발라드,이 세상에 기쁜 꿈 있으니 가득한 사랑의 눈을 내리고 우리 사랑에 노래 있다면 아름...,내가 (대,1980
...,...,...,...,...,...
3694,아이유,록/메탈,‘뭐해?‘라는 두 글자에‘네가 보고 싶어’ 나의 속마음을 담아 우이모티콘 하나하나 ...,Blueming,2019
3695,MC몽,랩/힙합,우선 캐릭터는 분명해야 해요 X 같은 XX철부지같이 굴면Fail 해요 Next 바로...,"인기 (Feat. 송가인, 챈슬러)",2019
3696,ITZY (있지),댄스,Hey hey hey yass whoo Beep beep Hey hey hey he...,ICY,2019
3697,Lil tachi,랩/힙합,멋이 다 흘러흘러서 넘쳐멀어 버렸어배로 막 벌어멋이 다 흘러멋이 다 흘러배로 막 벌...,눈 (Prod. 기리보이),2019
3698,홍진영,성인가요,오늘 밤에 아무도 모르게너랑 둘이서 둘이서 사랑을 할거야오늘 밤에 아무도 모르게뚜뚜...,오늘 밤에,2019

In [13]:
df['year_range'] = pd.cut(x=df['Year'], bins=[1979, 1983, 1987, 1991, 1995, 1999, 2003, 2007, 2011, 2015, 2019], labels=['1980-1983', '1984-1987', '1988-1991', '1992-1995', '1996-1999', '2000-2003', '2004-2007', '2008-2011', '2012-2015', '2016-2019'])
df.tail()

,Artist,Genre,Lyrics,Title,Year,year_range
3694,아이유,록/메탈,‘뭐해?‘라는 두 글자에‘네가 보고 싶어’ 나의 속마음을 담아 우이모티콘 하나하나 ...,Blueming,2019,2016-2019
3695,MC몽,랩/힙합,우선 캐릭터는 분명해야 해요 X 같은 XX철부지같이 굴면Fail 해요 Next 바로...,"인기 (Feat. 송가인, 챈슬러)",2019,2016-2019
3696,ITZY (있지),댄스,Hey hey hey yass whoo Beep beep Hey hey hey he...,ICY,2019,2016-2019
3697,Lil tachi,랩/힙합,멋이 다 흘러흘러서 넘쳐멀어 버렸어배로 막 벌어멋이 다 흘러멋이 다 흘러배로 막 벌...,눈 (Prod. 기리보이),2019,2016-2019
3698,홍진영,성인가요,오늘 밤에 아무도 모르게너랑 둘이서 둘이서 사랑을 할거야오늘 밤에 아무도 모르게뚜뚜...,오늘 밤에,2019,2016-2019

In [14]:
import numpy as np
df["count"] = 1
df_pivot = pd.pivot_table(data = df, values = "count", index = "year_range", columns = "Genre", aggfunc = np.sum)

In [15]:
df_pivot = df_pivot.fillna(0)
df_pivot

Genre,R&B/Soul,국내영화/국내드라마,그외,댄스,랩/힙합,록/메탈,발라드,성인가요,인디음악,재즈,포크/블루스
year_range,,,,,,,,,,,
1980-1983,0.0,0.0,0.0,3.0,0.0,19.0,24.0,68.0,0.0,0.0,21.0
1984-1987,0.0,2.0,0.0,22.0,0.0,49.0,134.0,119.0,0.0,0.0,54.0
1988-1991,0.0,4.0,0.0,25.0,0.0,42.0,227.0,46.0,0.0,0.0,54.0
1992-1995,2.0,18.0,0.0,84.0,5.0,46.0,201.0,13.0,3.0,2.0,20.0
1996-1999,3.0,3.0,1.0,119.0,23.0,54.0,172.0,8.0,3.0,0.0,9.0
2000-2003,38.0,6.0,0.0,106.0,29.0,53.0,155.0,0.0,7.0,0.0,6.0
2004-2007,68.0,14.0,1.0,53.0,37.0,40.0,183.0,0.0,1.0,0.0,0.0
2008-2011,12.0,7.0,0.0,167.0,55.0,17.0,138.0,1.0,3.0,0.0,0.0
2012-2015,27.0,30.0,3.0,123.0,80.0,24.0,102.0,0.0,3.0,0.0,8.0
2016-2019,47.0,39.0,0.0,93.0,61.0,8.0,109.0,1.0,39.0,0.0,3.0

In [16]:
df_pivot['total'] = df_pivot.sum(axis=1)

In [17]:
den = ['total']
num = ['R&B/Soul', '국내영화/국내드라마', '그외', '댄스', '랩/힙합', '록/메탈', '발라드', '성인가요', '인디음악', '재즈', '포크/블루스']
percent = ['R&B/Soul(%)', '국내영화/국내드라마(%)', '그외(%)', '댄스(%)', '랩/힙합(%)', '록/메탈(%)', '발라드(%)', '성인가요(%)', '인디음악(%)', '재즈(%)', '포크/블루스(%)']

df_pivot[percent] = df_pivot[num].div(df_pivot[den].values)*100
df_pivot

Genre,R&B/Soul,국내영화/국내드라마,그외,댄스,랩/힙합,록/메탈,발라드,성인가요,인디음악,재즈,...,국내영화/국내드라마(%),그외(%),댄스(%),랩/힙합(%),록/메탈(%),발라드(%),성인가요(%),인디음악(%),재즈(%),포크/블루스(%)
year_range,,,,,,,,,,,,,,,,,,,,,
1980-1983,0.0,0.0,0.0,3.0,0.0,19.0,24.0,68.0,0.0,0.0,...,0.000000,0.000000,2.222222,0.000000,14.074074,17.777778,50.370370,0.000000,0.000000,15.555556
1984-1987,0.0,2.0,0.0,22.0,0.0,49.0,134.0,119.0,0.0,0.0,...,0.526316,0.000000,5.789474,0.000000,12.894737,35.263158,31.315789,0.000000,0.000000,14.210526
1988-1991,0.0,4.0,0.0,25.0,0.0,42.0,227.0,46.0,0.0,0.0,...,1.005025,0.000000,6.281407,0.000000,10.552764,57.035176,11.557789,0.000000,0.000000,13.567839
1992-1995,2.0,18.0,0.0,84.0,5.0,46.0,201.0,13.0,3.0,2.0,...,4.568528,0.000000,21.319797,1.269036,11.675127,51.015228,3.299492,0.761421,0.507614,5.076142
1996-1999,3.0,3.0,1.0,119.0,23.0,54.0,172.0,8.0,3.0,0.0,...,0.759494,0.253165,30.126582,5.822785,13.670886,43.544304,2.025316,0.759494,0.000000,2.278481
2000-2003,38.0,6.0,0.0,106.0,29.0,53.0,155.0,0.0,7.0,0.0,...,1.500000,0.000000,26.500000,7.250000,13.250000,38.750000,0.000000,1.750000,0.000000,1.500000
2004-2007,68.0,14.0,1.0,53.0,37.0,40.0,183.0,0.0,1.0,0.0,...,3.526448,0.251889,13.350126,9.319899,10.075567,46.095718,0.000000,0.251889,0.000000,0.000000
2008-2011,12.0,7.0,0.0,167.0,55.0,17.0,138.0,1.0,3.0,0.0,...,1.750000,0.000000,41.750000,13.750000,4.250000,34.500000,0.250000,0.750000,0.000000,0.000000
2012-2015,27.0,30.0,3.0,123.0,80.0,24.0,102.0,0.0,3.0,0.0,...,7.500000,0.750000,30.750000,20.000000,6.000000,25.500000,0.000000,0.750000,0.000000,2.000000
2016-2019,47.0,39.0,0.0,93.0,61.0,8.0,109.0,1.0,39.0,0.0,...,9.750000,0.000000,23.250000,15.250000,2.000000,27.250000,0.250000,9.750000,0.000000,0.750000