In [1]:
import pandas as pd
import pymongo
import math
import numpy as np
import random
import song.user.user_playlist as playlist

ModuleNotFoundError: No module named 'pymongo'

In [2]:
df = pd.read_csv('./datas/final2019(rev4).csv', index_col=[0])
df

,Artist,Genre,Lyrics,Title,Year
0,금호동,성인가요,하루의 일을 끝내고 돌아가는거리엔 사람의 물결하늘엔 별이 하나 둘 반짝이면가로등 하...,내일또 만납시다,1964
1,최숙자,성인가요,조기를 담뿍잡아기폭을 올리고온다던 그배는어이하여 아니오나수평선 바라보며그이름 부르면...,눈물의 연평도,1964
2,이미자,성인가요,<1절 임이라 부르리까 당신이라고 부르리까 사랑을 하면서도 사랑을 참고사는 마음으로...,님이라 부르리까,1964
3,이미자,성인가요,헤일 수 없이 수많은 밤을내 가슴 도려내는 아픔에 겨워얼마나 울었던가 동백아가씨그리...,동백아가씨,1964
4,현미,성인가요,그 날 밤 그 자리에둘이서 만났을 때똑같은 그 순간에똑같은 마음이달빛에 젖은 채밤새...,떠날때는 말없이,1964
...,...,...,...,...,...
4253,아이유,록/메탈,‘뭐해?‘라는 두 글자에‘네가 보고 싶어’ 나의 속마음을 담아 우이모티콘 하나하나 ...,Blueming,2019
4254,MC몽,랩/힙합,우선 캐릭터는 분명해야 해요 X 같은 XX철부지같이 굴면Fail 해요 Next 바로...,"인기 (Feat. 송가인, 챈슬러)",2019
4255,ITZY (있지),댄스,Hey hey hey yass whoo Beep beep Hey hey hey he...,ICY,2019
4256,Lil tachi,랩/힙합,멋이 다 흘러흘러서 넘쳐멀어 버렸어배로 막 벌어멋이 다 흘러멋이 다 흘러배로 막 벌...,눈 (Prod. 기리보이),2019
4257,홍진영,성인가요,오늘 밤에 아무도 모르게너랑 둘이서 둘이서 사랑을 할거야오늘 밤에 아무도 모르게뚜뚜...,오늘 밤에,2019

In [18]:
df = df[df["Year"] >= 1980].reset_index(drop = True)

df["count"] = 1
df_pivot = pd.pivot_table(data = df , values = "count", index = "Year", columns = "Genre",aggfunc = np.sum)
df_pivot.fillna(0, inplace = True)
df_normal = round(df_pivot.div(df_pivot.sum(axis = 1), axis=0),3)
df_normal = df_normal.reset_index()

In [19]:
df_normal

Genre,Year,R&B/Soul,국내영화/국내드라마,그외,댄스,랩/힙합,록/메탈,발라드,성인가요,인디음악,재즈,포크/블루스
0,1980,0.000,0.000,0.00,0.033,0.000,0.133,0.200,0.433,0.00,0.00,0.200
1,1981,0.000,0.000,0.00,0.000,0.000,0.175,0.175,0.500,0.00,0.00,0.150
2,1982,0.000,0.000,0.00,0.026,0.000,0.132,0.079,0.579,0.00,0.00,0.184
3,1983,0.000,0.000,0.00,0.037,0.000,0.111,0.296,0.481,0.00,0.00,0.074
4,1984,0.000,0.012,0.00,0.024,0.000,0.159,0.280,0.378,0.00,0.00,0.146
5,1985,0.000,0.000,0.00,0.051,0.000,0.153,0.276,0.367,0.00,0.00,0.153
6,1986,0.000,0.010,0.00,0.060,0.000,0.110,0.400,0.270,0.00,0.00,0.150
7,1987,0.000,0.000,0.00,0.090,0.000,0.100,0.440,0.250,0.00,0.00,0.120
8,1988,0.000,0.020,0.00,0.091,0.000,0.081,0.525,0.152,0.00,0.00,0.131
9,1989,0.000,0.010,0.00,0.090,0.000,0.100,0.520,0.130,0.00,0.00,0.150
10,1990,0.000,0.010,0.00,0.030,0.000,0.152,0.606,0.091,0.00,0.00,0.111
11,1991,0.000,0.000,0.00,0.040,0.000,0.090,0.630,0.090,0.00,0.00,0.150
12,1992,0.000,0.020,0.00,0.152,0.000,0.081,0.616,0.061,0.00,0.00,0.071
13,1993,0.000,0.093,0.00,0.206,0.010,0.113,0.474,0.041,0.00,0.00,0.062
14,1994,0.000,0.041,0.00,0.235,0.031,0.153,0.469,0.031,0.01,0.01,0.020
15,1995,0.020,0.030,0.00,0.260,0.010,0.120,0.480,0.000,0.02,0.01,0.050
16,1996,0.010,0.020,0.00,0.270,0.030,0.110,0.500,0.010,0.02,0.00,0.030
17,1997,0.000,0.010,0.00,0.333,0.051,0.141,0.404,0.040,0.00,0.00,0.020
18,1998,0.010,0.000,0.00,0.247,0.041,0.165,0.495,0.010,0.00,0.00,0.031
19,1999,0.010,0.000,0.01,0.354,0.111,0.131,0.343,0.020,0.01,0.00,0.010
20,2000,0.080,0.010,0.00,0.360,0.060,0.140,0.330,0.000,0.00,0.00,0.020
21,2001,0.120,0.020,0.00,0.260,0.070,0.130,0.370,0.000,0.02,0.00,0.010
22,2002,0.040,0.020,0.00,0.240,0.070,0.130,0.470,0.000,0.02,0.00,0.010
23,2003,0.140,0.010,0.00,0.200,0.090,0.130,0.380,0.000,0.03,0.00,0.020
24,2004,0.184,0.010,0.01,0.133,0.122,0.122,0.408,0.000,0.01,0.00,0.000
25,2005,0.162,0.051,0.00,0.182,0.081,0.131,0.394,0.000,0.00,0.00,0.000
26,2006,0.220,0.040,0.00,0.110,0.060,0.070,0.500,0.000,0.00,0.00,0.000
27,2007,0.120,0.040,0.00,0.110,0.110,0.080,0.540,0.000,0.00,0.00,0.000
28,2008,0.040,0.030,0.00,0.270,0.270,0.030,0.350,0.010,0.00,0.00,0.000
29,2009,0.040,0.010,0.00,0.500,0.090,0.030,0.330,0.000,0.00,0.00,0.000
30,2010,0.040,0.030,0.00,0.430,0.090,0.050,0.350,0.000,0.01,0.00,0.000
31,2011,0.000,0.000,0.00,0.470,0.100,0.060,0.350,0.000,0.02,0.00,0.000
32,2012,0.030,0.000,0.00,0.390,0.140,0.120,0.310,0.000,0.00,0.00,0.010
33,2013,0.050,0.120,0.00,0.280,0.200,0.070,0.260,0.000,0.00,0.00,0.020
34,2014,0.090,0.100,0.03,0.270,0.170,0.020,0.280,0.000,0.01,0.00,0.030
35,2015,0.100,0.080,0.00,0.290,0.290,0.030,0.170,0.000,0.02,0.00,0.020
36,2016,0.170,0.160,0.00,0.230,0.150,0.020,0.190,0.000,0.07,0.00,0.010
37,2017,0.120,0.090,0.00,0.260,0.150,0.010,0.230,0.000,0.12,0.00,0.020
38,2018,0.120,0.040,0.00,0.290,0.180,0.000,0.290,0.000,0.08,0.00,0.000
39,2019,0.060,0.100,0.00,0.150,0.130,0.050,0.380,0.010,0.12,0.00,0.000

In [23]:
df_user = playlist.user(486216305)
df_user.reset_index()

df_user["count"] = 1
user_pivot = pd.pivot_table(data = df_user, values = "count", columns="Genre",  aggfunc = np.sum)
user_pivot.fillna(0, inplace=True)
user_normal = round(user_pivot.div(user_pivot.sum(axis=1), axis=0), 3)
user_normal = pd.DataFrame(user_normal, columns=['R&B/Soul', '국내영화/국내드라마', '그외', '댄스','랩/힙합','록/메탈','발라드','성인가요','인디음악','재즈','포크/블루스'])
np.nan_to_num(user_normal, copy=False)

array([[0.  , 0.  , 0.  , 0.26, 0.04, 0.14, 0.1 , 0.  , 0.  , 0.  , 0.  ]])

In [24]:
recommend = []
recommend_df = pd.DataFrame()

In [25]:
for i in range(len(df_normal)):
    error = (df_normal.loc[i] - user_normal) ** 2
    error = error.sum(axis =1)
    error = np.sqrt(error)
    recommend.append(error)
recommend

[count    0.539135
 dtype: float64,
 count    0.590381
 dtype: float64,
 count    0.652655
 dtype: float64,
 count    0.572209
 dtype: float64,
 count    0.504382
 dtype: float64,
 count    0.484277
 dtype: float64,
 count    0.477493
 dtype: float64,
 count    0.47392
 dtype: float64,
 count    0.504908
 dtype: float64,
 count    0.497996
 dtype: float64,
 count    0.575658
 dtype: float64,
 count    0.603324
 dtype: float64,
 count    0.540521
 dtype: float64,
 count    0.39824
 dtype: float64,
 count    0.374537
 dtype: float64,
 count    0.387298
 dtype: float64,
 count    0.403733
 dtype: float64,
 count    0.316176
 dtype: float64,
 count    0.397468
 dtype: float64,
 count    0.271674
 dtype: float64,
 count    0.264953
 dtype: float64,
 count    0.298664
 dtype: float64,
 count    0.375233
 dtype: float64,
 count    0.324962
 dtype: float64,
 count    0.390124
 dtype: float64,
 count    0.350895
 dtype: float64,
 count    0.487647
 dtype: float64,
 count    0.49051
 dtype: float64,
 count    0.360832
 dtype: float64,
 count    0.35609
 dtype: float64,
 count    0.323419
 dtype: float64,
 count    0.342053
 dtype: float64,
 count    0.269072
 dtype: float64,
 count    0.271662
 dtype: float64,
 count    0.289482
 dtype: float64,
 count    0.31241
 dtype: float64,
 count    0.308221
 dtype: float64,
 count    0.288444
 dtype: float64,
 count    0.314006
 dtype: float64,
 count    0.367151
 dtype: float64]

In [26]:
from pandas import DataFrame
recommend_df = pd.DataFrame(recommend)
recommend_df.rename(columns={"count":"rms"}, inplace=True)

year = pd.DataFrame(df_normal["Year"])    
recom = pd.concat([year,recommend_df], axis=1, join="inner")
ranking = recom.sort_values(by="rms", ascending=True).reset_index(drop=True)
ranking

    Year       rms
0   2000  0.264953
1   2012  0.269072
2   2013  0.271662
3   1999  0.271674
4   2017  0.288444
5   2014  0.289482
6   2001  0.298664
7   2016  0.308221
8   2015  0.312410
9   2018  0.314006
10  1997  0.316176
11  2010  0.323419
12  2003  0.324962
13  2011  0.342053
14  2005  0.350895
15  2009  0.356090
16  2008  0.360832
17  2019  0.367151
18  1994  0.374537
19  2002  0.375233
20  1995  0.387298
21  2004  0.390124
22  1998  0.397468
23  1993  0.398240
24  1996  0.403733
25  1987  0.473920
26  1986  0.477493
27  1985  0.484277
28  2006  0.487647
29  2007  0.490510
30  1989  0.497996
31  1984  0.504382
32  1988  0.504908
33  1980  0.539135
34  1992  0.540521
35  1983  0.572209
36  1990  0.575658
37  1981  0.590381
38  1991  0.603324
39  1982  0.652655

In [27]:
top5_r = pd.DataFrame()
for i in range(0, 5):
    top5 = df[df["Year"] == ranking["Year"][i]]
    top5_r = pd.concat([top5_r, top5])

fir = df[df["Year"] == ranking["Year"][0]] 
sec = df[df["Year"] == ranking["Year"][1]]
thr = df[df["Year"] == ranking["Year"][2]]
four = df[df["Year"] == ranking["Year"][3]]
fif = df[df["Year"] == ranking["Year"][4]]

In [28]:
    first = fir.take(np.random.permutation(len(fir))[:10])
    second = sec.take(np.random.permutation(len(fir))[:8])
    third = thr.take(np.random.permutation(len(fir))[:6])
    fourth = four.take(np.random.permutation(len(fir))[:4])
    fifth = fif.take(np.random.permutation(len(fir))[:2])
    
    # 뽑은 곡들 합해서 새로운 playlist 만들기
    result = pd.concat([first, second, third, fourth, fifth])
    
    result

,Artist,Genre,Lyrics,Title,Year,year_range,count
1704,DJ DOC,랩/힙합,하나 투 원 투 쓰리 포 BOUNCE with me BOUNCE with me ...,Run To You,2000,2000-2003,1
1756,god,댄스,맘 이맘 부풀어 오르는 이밤 right alright it's friday nig...,Friday Night,2000,2000-2003,1
1750,서문탁,록/메탈,나에겐 니가 묻어 있어다신 지울 수 없는 얼룩이 되어 있어나의 몸 어느 한 구석에도...,사슬,2000,2000-2003,1
1770,신화,댄스,Oh Come on baby heart beating tonight 지금 너에게로 ...,Only One,2000,2000-2003,1
1768,유승준,댄스,처음 보았을때난 벌써 시작되었지우리 만났다는 그 이유 단 하나만으로새로운 날이 찾아...,연가,2000,2000-2003,1
1711,김현정,댄스,너 나를 쉽게 봤어 그렇지 않니 너는 몰라 너무 몰라 사랑을 안돼 니 맘대로 나를 ...,멍,2000,2000-2003,1
1772,시인과 촌장,발라드,내속엔 내가 너무도 많아당신에 쉴곳 없네내속엔 헛된 바람들로당신에 편할곳 없네내속엔...,가시나무,2000,2000-2003,1
1795,이브,록/메탈,그대 곁에는 내가 있잖아 병든 세상은 무너져가지만 나의 너마저 보낼 수 없어 ...,아가페,2000,2000-2003,1
1749,박기영,록/메탈,어두운 밤 기나긴꿈을 따라 널 기다릴 내게로 와 너만을 위해서 난 노래해 Blue ...,Blue Sky,2000,2000-2003,1
1778,박정현,R&B/Soul,그대 가슴에 귀를 대보면나는 정말 행복해져요날 사랑하는 그대 가슴이너무 건강히 뛰고...,You Mean Everything To Me,2000,2000-2003,1
2973,SE7EN,발라드,내가 모든걸 잃어도 내 인기가 떨어져도 더 이상 노랠 못하고 다른 직업을 가져도 나...,내가 노래를 못해도,2012,2012-2015,1
2900,씨스타,댄스,Whoo Whoo Whoo Whoo I don't wanna cryWhoo Whoo...,나혼자 (Alone),2012,2012-2015,1
2995,양파,발라드,그대 울지 말아요 슬퍼하지 말아요 사랑은 다 그런 거래요 마음 주면 줄수록 가슴...,사랑은 다 그런거래요,2012,2012-2015,1
2955,BIGBANG,발라드,그날 밤은 내가 너무 심했어 니가 진짜로 떠나갈 줄은 몰랐어 내가 미안해 이 말 ...,BAD BOY,2012,2012-2015,1
2998,버스커 버스커,록/메탈,주르르루 주르르루 빗소리에현관으로 나갔는데 우산이 없어아니 벌써 어두컴컴 축축한 하...,소나기 (주르르루),2012,2012-2015,1
2910,소녀시대-태티서 (Girls` Generation-TTS),댄스,"The twinkle, twinkle The twinkle, twinkle숨겨도 t...",Twinkle,2012,2012-2015,1
2930,JUNIEL,발라드,따스하게 부는 향기로운 바람내 두 볼에 스치면 난사랑했던 그대 얼굴이 떠오르죠oh ...,illa illa (일라 일라),2012,2012-2015,1
2899,싸이 (PSY),랩/힙합,오빤 강남스타일강남스타일낮에는 따사로운 인간적인 여자커피 한잔의 여유를 아는 품격 ...,강남스타일,2012,2012-2015,1
3081,백지영,발라드,못됐다 어쩜 이렇게 아픈 상처만 남기고 떠나니 돌아서는 널 멍하니 잡지 못하고 사랑...,싫다,2013,2012-2015,1
3077,2AM,발라드,그대 오늘 아침 출근길은 어땠나요 한결 포근해진 날씨는 그댄 어땠나요 유난히도 ...,어느 봄날,2013,2012-2015,1
3005,4minute,댄스,4minute What's your name What's What's your na...,이름이 뭐예요?,2013,2012-2015,1
3070,에일리(AILEE),국내영화/국내드라마,한사람이 생겼죠 사랑하면 안되는 그 사람 안되는데 안되는데 몇 번을 뿌리쳐 보았...,눈물이 맘을 훔쳐서,2013,2012-2015,1
3088,아웃사이더,랩/힙합,잊겠습니다 내일도 그리울 테니 꽃 피고 봄이 오면 넌 내 곁에 올까 해 저문 언덕에...,슬피 우는 새 (Feat. 이수영),2013,2012-2015,1
3085,다비치,발라드,유난히 부은 두 눈이 혹시 밤새 울었는지전할 것 있다 짧게 끊은 어제 전화 또 불안...,편지,2013,2012-2015,1
1693,조성모,댄스,너하고 헤어진 그 때는아무렇지 않았어오히려 까맣게 잊은 줄만 알았어툭하면 멍하니먼 ...,후회,1999,1996-1999,1
1653,임창정,댄스,오래 만났지 다른 사랑하는 널 편한 친구로 그저 바라만 보며 요즘 니 곁에 그 사람...,바람과 함께 사라지다,1999,1996-1999,1
1645,코요태,댄스,우리 이제 지난 일들 모두 잊어버려요원치 않던 만남으로 가득했던 그런 날들우리 이제...,만남,1999,1996-1999,1
1700,브로스,랩/힙합,여기서 멈추지 마라 win아 win아 윈 내가 기다려 왔다 인아 인아 나 때론 참...,Winwin,1999,1996-1999,1
3443,DEAN,R&B/Soul,Love love the starsLove love the moon별 다를 것 없이...,D (half moon) (Feat. 개코),2017,2016-2019,1
3422,Red Velvet (레드벨벳),댄스,빨간 맛 궁금해 Honey깨물면 점점 녹아든 스트로베리 그 맛코너 캔디 샵 찾아 봐...,빨간 맛 (Red Flavor),2017,2016-2019,1